{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}
   

{% block body %}

    
<h1>Toutes les séries de la categorie : </h1>
   
	{% for program in programs %}
    <span>{{ program.category.name }}</span>
		<div>
			<a href="{{ path("program_show", { id: program.id }) }}"><h2>{{program.id}} / {{program.title}}</h2></a>
			<p>{{ program.synopsis }}</p>
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}
    <a href="{{ path('category_index') }}">
		Retour à la liste des catégories
	</a>
    
	
{% endblock %}